<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GitTestEntities" connectionString="metadata=res://*/GitTestEntities.csdl|res://*/GitTestEntities.ssdl|res://*/GitTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLG79W1;initial catalog=GitTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>