<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!--
    <add name="GitTestEntities" connectionString="metadata=res://*/GitTestEntities.csdl|res://*/GitTestEntities.ssdl|res://*/GitTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLG79W1;initial catalog=GitTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="GitTestEntities" connectionString="metadata=res://*/GitTestEntities.csdl|res://*/GitTestEntities.ssdl|res://*/GitTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=gitdemo.cskkuph5vsj2.us-west-2.rds.amazonaws.com;Initial Catalog=GitDemo;User ID=GitDemoUser;Password=GitDemo99&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
